.timetable .day {
	display: none;
}

th,td {
	padding: 6px;
	text-align: center;
	vertical-align: middle;
}

article.message-excerpt {
	cursor: pointer;
}

article.action {
	padding-bottom: 20px;
	border-bottom: 2px solid #EEE;
	margin-bottom: 30px;
}